<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942025734552-482rkvd1qsil31d4dfumpgqk74k3obk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942025734552-482rkvd1qsil31d4dfumpgqk74k3obk7</string>
	<key>API_KEY</key>
	<string>AIzaSyBlvmMN46I-4PiA3EkyEb4WhJw5HnRVnJc</string>
	<key>GCM_SENDER_ID</key>
	<string>942025734552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbTodo</string>
	<key>PROJECT_ID</key>
	<string>ryjohn-fb-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>ryjohn-fb-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942025734552:ios:b738b6220d6e2db008d3ed</string>
	<key>DATABASE_URL</key>
	<string>https://ryjohn-fb-todo.firebaseio.com</string>
</dict>
</plist>